@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-white text-black h-8 px-2 placeholder-stone-500 rounded-lg;
  }
}

body,
html {
  height: 100%;
  margin: 0;
}
#__next,
#root {
  height: 100%;
}
